<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Task Tracker{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
  <div class="box">
    <h1 class="ij">DUNAMIS TASK MANAGER</h1>
    <div class="container">
      <div id="login-view">
        <h1>LOGIN</h1>
        <form method="POST">
        <input type="email" id="email" placeholder="Email" name="email"/>
        <input type="password" id="password" placeholder="Password" name="password" />
        <button type="submit">Login</button>
        </form>
      </div>
      <div>
        <button class="bt">FORGOT PASSWORD</button>
      </div>

      <div id="dashboard-view" style="display: none;">
        <h2 id="role-header"></h2>
        <div id="task-list"></div>
        <button >Logout</button>
      </div>
    </div>
  </div>

</body>

</html>